<div id="leftbar">
    <a  href="homepage">
        <img style="margin-left: 5rem; margin-top:1rem;padding-bottom: 0.5rem;"  id=""task src="../images/favicon.ico" alt="ssss">
    </a>
    <a style="color: white" href="addtask">
        <div id="todolist">
            <i class="bi bi-file-earmark-plus-fill" style="font-size: 50px;"></i>
            <p>Add new task</p>
        </div>
        <a style="color: white" href="alltask">
            <div id="todolist">
                <i class="bi bi-list-task" style="font-size: 50px;"></i>
                <p>All Task</p>
            </div>
        </a>
        <a style="color: white" href="pendingtask">


            <div id="pending">
                <i style="font-size: 50px;" class="bi bi-alarm-fill"></i>
                <p>Task Pending</p>
            </div>
        </a>
        <a style="color: white" href="complatedtask">
            <div id="complated">
                <i style="font-size: 50px;" class="bi bi-check2-circle"></i>
                <p>Task Completed</p>
            </div>
        </a>
        <a style="color: white" href="deletedtask">
            <div id="deleted">
                <i style="font-size: 50px;" class="bi bi-trash3-fill"></i>
                <p>Archived</p>
            </div>
        </a>
        <div id="space">

        </div>
</div>


<!-- <h2 style="text-align: center;padding: 40px;"> <i><b>Welcome to TODO APP</b></i>  </h2>
                <div id="addtask">
                    <a href="addtask"><i style="font-size: 200px;text-align: center;" class="bi bi-plus-circle-fill"></i></a>
                <br>
                <label for="">Click Here </label><i class="bi bi-arrow-up"></i><label for="">to add Your Task</label>

                </div> -->