<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/stylesheets/homepage.css">
    <style>
       
       
        
    </style>
</head>
<!-- <form class="example" >
    <label>TASKS</label>
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form> -->

<body>
    
    <div id="outer" class="aa">


        <div id="leftbar">
            <h3 id="task">TASK</h3>


            <div id="todolist">
                <i class="bi bi-list-task" style="font-size: 50px;"></i>
                <p>TO DO Lists</p>
            </div>
            <div id="pending">
                <i style="font-size: 50px;" class="bi bi-alarm-fill"></i>
                <p>Task Pending</p>
            </div>
            <div id="complated">
                <i style="font-size: 50px;" class="bi bi-check2-circle"></i>
                <p>Task Complated</p>
            </div>

            <div id="delated">
                <i style="font-size: 50px;" class="bi bi-trash3-fill"></i>
                <p>Task Delated</p>
            </div>
            <div id="space">

            </div>
        </div>
        <div id="middle">
            <form class="container">

                <div class="row height ">

                    <div class="col-md-12">

                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search Your Task Here">
                            <button class="btn btn-primary">Search</button>
                        </div>

                    </div>

                </div>

            </form>
            <br>
            <br>
            <div id="middlebody">
                <div id="sportstudy">
                    <div id="middlebody1">
                        <h1>&nbsp; Sports</h1>
                    </div>
                    <br>
                    <div id="middlebody1">
                        <h1>&nbsp; Study</h1>
                    </div>

                </div>

                <div id="shoopingtravel">
                    <div id="middlebody1">
                        <h1>&nbsp; Shooping</h1>
                    </div>
                    <br>
                    <div id="middlebody1">
                        <h1>&nbsp; Travel</h1>
                    </div>

                </div>




            </div>

        </div>
        <div id="username">
            <h3>WellCome User</h3>
        </div>
        <div id="accountphoto">

            <i style="font-size: 50px;" class="bi bi-person-circle"></i>

        </div>




    </div>

</body>

</html>