<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO | signin></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/signup.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
body{
    background-image: url(../images/background\ 4.webp);
}
#outer{
    margin:12rem;
    margin-left: 30rem;
    
    background-image: url(../images/b6.webp);
    opacity:80%;
    border-radius: 10%;
    width: 40%;
}
input{
    background-color:rgba(255, 255, 255, 0.718);
    color:black;
    border-radius:1rem;
    height: 2rem;
}
button{
    border-radius: 1rem;
    border-style:groove;
    height: 2.5rem;
    width: 18rem;
}
#ep{
    width: 18rem;
    height: 2rem;
}
#footer{
    display: flex;
   justify-content: space-between;
   padding-bottom: 2rem;
   padding-right: 1rem;
   
    

}
#contact{
    padding: 2rem;
}
#creatAccount{
   padding-left: 2rem;
    padding-top: 1rem;
}


       
    </style>
</head>
<body id=>
    <div id="outer">
        <form action="/users/addUser" method="post" id="creatAccount">
            <p style="color: green;">START FOR FREE</p>
            <h2 style="color: white;">Creat New Account</h2>
            <label style="color: white;">Already a Member? &nbsp;</label><a style="text-decoration: none; color:rgb(72, 195, 27)" href="/login">login</a>
            <br>
            <br>
            <input placeholder=" First Name" type="text" class="inputs" name="fname" id="">
            <input placeholder=" Last Name" type="text" class="" name="lname" id="">
            <br>
            <br>
            <input placeholder=" Email" type="text" class="" name="email" id="ep">
            <br>
            <br>
            <input placeholder=" Password" type="text" class="" name="password" id="ep">
            <br>
            <br>
            <div >
                <button style="background-color: rgba(0, 162, 255, 0.592);color: white;" id="creataccount">Creat Account</button>
            </div>
            


        </form>
    
            
            <br>
            <br>
            <div id="footer">
                   <div id="contact">
                    <label style="color: white;" >Phone Number: </label>
                     <a style="text-decoration:none;color: white;"  href="tel:+251966678513">+251966678513</a>
                    <br>
                    <label style="color: white;" for="">Email: </label>
                    
                     <a style="text-decoration:none;color: white;" href="davespot10@gmail.com">mppfinal@sridevi.com</a>
                   </div>
                
                
               
                      <div id="icon">
                        <p style="color: white;">Stay Connected:</p>
                        <a href="#" class="fa fa-facebook-square" style="font-size:30px;color:rgb(26, 125, 187)"></a>
                        <a href="#" class="fa fa-telegram" style="font-size:30px;color:rgb(34, 106, 138)"></a>
                        <a href="#" class="fa fa-twitter" style="font-size:30px;color:rgb(0, 34, 255);text-decoration: none;"></a>
                        <a href="#" class="fa fa-instagram" style="font-size:30px;color:rgb(255, 89, 0)"></a>

                       </div>
   
            </div>
                    
                    
        
            


    </div>
</body>
</html>