body{
    background-image: url(../images/b5.jpeg);
}


#outer {
    background-image: url(../images/b10.jpeg);
    border-radius: 4rem;

    margin: 3rem;
    display: flex;
    justify-content:space-evenly;
    background-color: #d6d4d4;
    height: 1800%;
}



.search {
    position: relative;
    box-shadow: 0 0 40px rgba(229, 20, 20, 0.1);

}

.search input {
    border-radius: 2rem;
    height: 60px;

    text-indent: 25px;
    border: 2px solid #d6d4d4;

}

.search button {
    border-radius: 2rem;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: rgb(0, 174, 255);
    border-radius: 2rem;

}




#task {
    padding-left: 4rem;

}

#todolist,
#complated,
#pending,
#delated,#space {
    padding: 2.5rem;
    text-align: center;

}
#space {
    margin-top:60rem;
}





#delated:hover,
#todolist:hover,
#complated:hover,
#pending:hover {
    font-size: 1.1em;
    background-color: rgb(211, 228, 215);

}

#middlebody {
    height: 80%;
    border: 1px solid;
    width: 120%;
    display: flex;
    justify-content: space-between;

}

#accountphoto {

    padding: -200px;

}

#username {
    margin-right: 50px;

}

#middlebody1 {
    display: flex;
    height: 49%;
    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;

}



#sportstudy {
    width: 49%;

}

#shoopingtravel {
    width: 49%;

}